.create-user-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-box {
  width: 350px;
  padding: 2rem;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background-color: rgba(255, 255, 255, 0.05); /* efeito "vidro" */
  backdrop-filter: blur(15px);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

h1{
  font-family: 'Montserrat';
  font-weight: 800;
  line-height: 1em;
  font-size: 25px;
  color: #f7f2f2;
  //margin-left: 20px;
  //align-self: left;
}

.form-group {
  margin-bottom: 15px;
}

label,
input {
  display: block;
  width: 100%; /* ou ajuste conforme necessário */
  margin-bottom: 10px;
}

.buttons {
  display: flex;
  justify-content: space-between; /* espaçamento entre os botões */
}

button {
  margin-top: 10px; // espaço acima do botão
  //margin-left: 90px; // para alinhar com os inputs (label 80px + gap 10px)
}

select {
    width: 100%; /* ou ajuste conforme necessário */
    margin-bottom: 10px;
}