<div class="header">
  <h1>Greatest composers of all time</h1>
  <button *appRole="'admin'" (click)="createUser()">New user</button>
</div>

<p>Complete list 📑:</p>

<app-composer-list [items]="items" (detalhes)="verDetalhes($event)"></app-composer-list>

<div class="bottom-container">
  <button *appRole="'admin'" (click)="submit()">Click here</button>

  <div *appRole="'user'" class="alert alert-info">
    Bem-vindo! Você pode visualizar a lista de compositores.
  </div>
  
  <div *appRole="'admin'" class="alert alert-info">
    Bem-vindo! Você pode visualizar a lista de compositores, criar um novo usuário e clicar nesse botão :)
  </div>
</div>

<!-- <button *ngIf="role === 'admin'" (click)="submit()">Click here</button> -->

<div *ngIf="deveTocarMusica" style="width: 1px; height: 1px; overflow: hidden;">
  <iframe
    src="https://www.youtube.com/embed/cVikZ8Oe_XA?start=25&autoplay=1&controls=0&loop=1&playlist=cVikZ8Oe_XA&enablejsapi=1&mute=0"
    frameborder="0"
    allow="autoplay; encrypted-media"
    allowfullscreen>
  </iframe>
</div>
