<h1>Greatest composers of all time</h1>

<p>Complete list 📑:</p>

<div class="container" tabindex="0"> 
  <div *ngFor="let item of items" class="item-wrapper"> 
    <figure (click)="verDetalhes(item)" class="clickable-figure">
      <img [src]= "item.src" [alt]= "item.alt" >
      <figcaption>{{ item.caption }}</figcaption>
    </figure>
  </div>
</div>

<button *ngIf="role === 'admin'" (click)="submit()">Click here</button>

<div *ngIf="deveTocarMusica" style="width: 1px; height: 1px; overflow: hidden;">
  <iframe
    src="https://www.youtube.com/embed/cVikZ8Oe_XA?start=25&autoplay=1&controls=0&loop=1&playlist=cVikZ8Oe_XA&enablejsapi=1&mute=0"
    frameborder="0"
    allow="autoplay; encrypted-media"
    allowfullscreen>
  </iframe>
</div>

{{cpf | cpf}} 

<app-composer-detail 
  *ngIf="selectedComposer"
  [composer]="selectedComposer"
  (fechar)="fecharDetalhes()">
</app-composer-detail>