/* Define standard variables and values for website */
$bgcolor: lightblue;
$textcolor: darkblue;
$fontsize: 18px;
$caption-color: rgb(251, 251, 252);
$caption-fontsize: 16px;

// Estilo para título e parágrafo
h1 {
  font-family: "Meie Script", cursive;
  font-weight: 150;
  line-height: 1em;
  font-size: 75px;
  color: #ffffff;
  margin: 0 0 20px 20px; // zera em cima, 20px abaixo e à esquerda
}

p {
  font-family: 'Courier New', monospace;
  font-size: 30px;
  margin-bottom: 10px;
  margin-left: 30px;
}

.bottom-container {
  display: flex;
  gap: 20px; // espaço entre as divs
  margin-left: 30px;
  margin-top: 8px;
  align-items: center;
  button {
    background-color: #12405a; /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: dashed;
    display: inline-block;
    font-size: 16px;
    margin-top: 0px;
    margin-left: 0px;
  }
}

.alert.alert-info {
  margin-left: 30px;
  //margin-top: 8px;
}

.header {
  display: flex;
  gap: 50px; // espaço entre as divs
  margin-left: 10px;
  margin-right: 30px;
  margin-top: 8px;
  align-items: center;
  button {
    width: 100px;
    height: 100px;
    font-size: 30px;
    background-color: #2e4e92;
    border-radius: 50%;
  }
}