<h1>Greatest composers of all time</h1>

<p>Complete list 📑:</p>

<!-- 
tenta simplificar isso aí -->
<div class="container"> 
  <div *ngFor="let item of items" (click)="verDetalhes(item)"> 
    <figure>
      <img [src]= "item.src" [alt]= "item.alt" >
      <figcaption>{{ item.caption }}</figcaption>
    </figure>
  </div>
</div>

<button *ngIf="role === 'admin'" (click)="submit()">Click here</button>

<div *ngIf="deveTocarMusica" style="width: 0; height: 0; overflow: hidden;">
  <iframe
    src="https://www.youtube.com/embed/cVikZ8Oe_XA?start=25&autoplay=1&controls=0"
    frameborder="0"
    allow="autoplay"
    allowfullscreen>
  </iframe>
</div>

<app-composer-detail 
  *ngIf="selectedComposer"
  [composer]="selectedComposer"
  (fechar)="fecharDetalhes()">
</app-composer-detail>