<h1>
  Greatest musicians of all time
</h1>

<p>Complete list:</p>

<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6f/Beethoven.jpg/960px-Beethoven.jpg" alt="Ludwig van Beethoven " style="width:500px;height:600px;" >
<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1e/Wolfgang-amadeus-mozart_1.jpg/1200px-Wolfgang-amadeus-mozart_1.jpg" alt="Wolfgang Amadeus Mozart" style="width:500px;height:600px;">
<img src="https://cdn.britannica.com/06/167806-050-AAA48A08/George-Frideric-Handel-oil-canvas-Thomas-Hudson-1736.jpg" alt="George Frideric Handel" style="width:500px;height:600px;">