.detail-container {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  padding: 20px;
  flex-wrap: wrap;
}

.image-container {
  flex-shrink: 0;
}

.image-container img {
  width: 300px;
  height: 400px; // altura fixa para alinhar
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.08);
  display: block;
}

.text-container {
  flex: 1;
  min-width: 250px;
  height: 400px; // altura fixa para alinhar
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h2 {
  margin-top: 0;
}

button {
  //margin-top: auto;
  background-color: #12405a;
  color: #fff;
  border: none;
  padding: 10px 24px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  //margin-top: auto; // faz o botão descer até alinhar com a base da imagem
  align-self: flex-start;
}